*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    
    max-width:400px ;
}
.login-box h1{
    text-align: center;
    margin-bottom: 30px;
    color:black;
}
.form-group{
    margin-top: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}
.form-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius:5px;
    font-size: 14px;

}
.form-group input:focus{
    outline: none;
    border-color: lightblue;

}
.login-btn{
    width: 100px;
    padding: 12px;
    background: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
    transition: background 0.3s;
}
.login-btn:hover{
    background: #5568d3;
}